.profile {
  display: flex;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 40px;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 30px;
}

@media (max-width: 768px) {
  .profile {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (max-width: 523px) {
  .profile {
    flex-direction: column;
    padding-top: 42px;
    gap: 0;
  }
}