.popup__button {
  width: 358px;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  border: 0;
  opacity: 1;
  transition: background-color .3s ease;
  cursor: pointer;
  padding: 0;
}

.popup__button:hover {
  background-color: rgba(0, 0, 0, .8);
}

@media (max-width: 523px) {
  .popup__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
  }
}