.footer__copyright {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: #545454;
}

@media (max-width: 768px) {
  .footer__copyright {
    padding-left: 19px;
    font-size: 14px;
  }
}