.profile__button {
  background-color: transparent;
  width: 150px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  border: 2px solid #fff;
  padding: 0;
  opacity: 1;
  transition: opacity .3s ease;
  cursor: pointer;
  background-image: url(../../../images/add-icon.svg);
  flex-shrink: 0;
  margin: 0 0 0 auto;
  border-radius: 2px;
}

.profile__button:hover {
  opacity: .6;
}

@media (max-width: 703px) {
  .profile__button {
    width: 100%;
    background-size: 16px 16px;
  }
}